//======= Global ===== //
@use 'variables' as var;
@mixin flex_center_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem
}
@mixin flex_center_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@mixin flex_between_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@mixin flex_between_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin aTag($deco, $color) {
    // width: $width;
    // height: $height;
    text-decoration: $deco;
    color: $color;
}

@mixin fontdef($family, $size) {
    font-family: $family;
    font-size: $size;
}

@mixin central {
    max-width: var.$max-width;
    margin: 0 auto;
}

@mixin overflow($expression) {
    overflow: $expression
}

//======= Header ===== //
@mixin textStroke($width, $color) {
    -webkit-text-stroke-width: $width;
    -webkit-text-stroke-color: $color;
}


//======= Main ===== //

@mixin imgXZPos($width, $height, $top, $right, $bottom, $left) {
    width: $width;
    height: $height;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin blackwhite($color, $backcolor) {
    color: $color;
    background-color: $backcolor;
}

@mixin transform($transX, $transY) {
    transform: translateX($transX);
    transform: translateY($transY);
}

@mixin rotate($transX, $transY, $transZ) {
    transform: rotateX($transX);
    transform: rotateY($transY);
    transform: rotateZ($transZ);
}

@mixin threesixty {

    animation: rotate360 3s linear 0s infinite forwards;

    @keyframes rotate360 {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
        
    }
}

//======= Footer ===== //