//======= Global ===== //
$color-black: #000000;
$color-white: #ffffff;
$color-grey: rgb(245, 245, 245);

$max-width: 1920px;

$font-size: 16px;

$padding-side: 6.875rem;



//======= Header ===== //

$header-top: 150px;
$header-middle: 260px;
$h1-font-size: 4rem;

$p-header-font-size: 0.625rem;

//======= Main ===== //

$margin-div_info: 4rem;

$width-action-string: 480px;

//======= Bear ===== //

$width-big: 731px;
$height-big: 731px;

$width-small: 366px;
$height-small: 472px;

$width-bear: 1096px;

//======= Bear ===== //

$round-img: 420px;