//======= Global ===== //
$color-black: #000000;
$color-white: #ffffff;
$color-grey: rgb(245, 245, 245);
$max-width: 1920px;


//======= Header ===== //

$header-margin-top: 150px;

//======= Main ===== //