/* ========== IMPORTS ========== */

@use 'variables' as var;

@use 'mixin' as mix;

@import 'fonts';


/* ========== GLOBAL STYLES ========== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: var.$font-size;
    @include mix.central;
}

/* ========== HEADER ========== */
header {
    padding: 0 var.$padding-side var.$header-top var.$padding-side;
    background: var.$color-black;
    color: var.$color-white;
    text-align: center;

    .div__top {
        height: 150px;
        width: 1px;
        background-color: var.$color-grey;
        @include mix.flex_center_row;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    article {
        @include mix.flex_center_column;

        h1 {
            font-size: var.$h1-font-size;
            line-height: 3rem;

            span {
                color: var.$color-black;
                @include mix.textStroke(2px, var.$color-white)
            }
        }

        p {
            @include mix.fontdef('WorkSans', var.$p-header-font-size)
        }
    }

    div {
        padding-top: var.$header-middle;
        @include mix.flex_between_row;

        img {
            height: 42px;
        }

        a {
            // @include mix.aTag(none, var.$color-white);
            // @include mix.fontdef('WorkSans', 1.25rem);
            // padding: 1rem 2rem;
            // border: 1px solid var.$color-white;
            @include mix.rsvp;
            &:hover {
                cursor:pointer;
            }
        }
    }
}

/* ========== MAIN ========== */

main {
    .sc__beginning {
        padding-left: var.$padding-side;
        padding-bottom: 100px;
        background-color: var.$color-black;
        color: var.$color-white;
        // position: relative;

        h2 {
            @include mix.fontdef('Inter', 5.875rem);
            width: 45vw;
        }

        .div__california {
            @include mix.flex_between_row;
            align-items: flex-end;
            width: 100%;
            height: 540px;
            margin-top: var.$margin-div_info;

            article {
                .p__1 {
                    @include mix.fontdef('WorkSans', 0.875rem);
                    margin-bottom: .5rem
                }

                .p__2 {
                    @include mix.fontdef('Inter', 5.375rem);
                    margin-bottom: .5rem
                }
            }

            img {
                height: 100%;
            }
        }
    }

    /* ========== Section Action ========== */

    .sc__action {
        position: relative;
        height: 1860px;
        max-width: var.$max-width;
        padding-left: var.$padding-side;

        .article__action {
            height: 100%;
            width: var.$width-action-string;
            margin: 0 auto;
            @include mix.flex_between_column;
            justify-content: space-around;

            h2 {
                @include mix.fontdef('Inter', 5.25rem)
            }

            p {
                @include mix.fontdef('WorkSans', 1rem);
                line-height: 1.875rem;
            }
        }

        .img__action {
            position: absolute;
        }

        #img1 {
            @include mix.imgXZPos(330px, 220px, -82px, 110px, "", ""
            )
        }

        #img2 {
            @include mix.imgXZPos(280px, 180px, 280px, "", "", var.$padding-side )
        }

        #img3 {
            @include mix.imgXZPos(280px, 180px, 666px, 0px, "", ""
            )
        }

        #img4 {
            @include mix.imgXZPos(330px, 220px, 876px, 0px, "", 220px)
        }

        #img5 {
            @include mix.imgXZPos(330px, 220px, 1080px, "", "", 820px)
        }

        #img6 {
            @include mix.imgXZPos(280px, 180px, 1362px, "", "", var.$padding-side )
        }

        #img7 {
            @include mix.imgXZPos(440px, 300px, "", center, 0px, ""
            );
            transform: translateX(200%);
        }

    }

    /* ========== Golden Bear ========== */

    .sc__golden-bear {
        height: 1320px;
        margin: 0 auto;
        @include mix.blackwhite(var.$color-white, var.$color-black);
        @include mix.flex_between_column;
        justify-content: space-between;

        .div__bear_description {
            width: var.$width-bear;
            margin: 0 auto;
            margin-top: 180px;

            .p__page {
                @include mix.fontdef('WorkSans', 1.25rem)
            }

            .div__descr-flex {
                @include mix.flex_between_row;
                justify-content: space-between;

                h3 {
                    @include mix.fontdef('Inter', 5.25rem);
                }

                .p__description {
                    @include mix.fontdef('Inter', 1.75rem);
                    width: 620px;

                    span {
                        @include mix.fontdef('WorkSans', 1.125rem);
                        line-height: 2rem;
                    }
                }
            }
        }

        .div__bear_img {
            position: relative;
            width: var.$width-bear;
            margin: 0 auto;
        }

        .img__bear {
            position: absolute;
        }

        #img_big-bear {
            @include mix.imgXZPos(var.$width-big, var.$height-big, "", "", 0, ""
            );
            @include mix.transform("", 20%);
        }

        #img_small-bear {
            @include mix.imgXZPos(var.$width-small, var.$height-small, "", "", 0, 60%);
            @include mix.transform(50%, 10%)
        }
    }

    /* ========== SC ROUND ========== */

    .sc__round-img {
        height: var.$round-img;
        position: relative;
        @include mix.overflow(hidden);

        img {
            position: absolute;
            @include mix.imgXZPos(var.$round-img, var.$round-img, -100px, -137px, "", "");
            @include mix.threesixty;
        }
    }

    /* ========== SC BEAR SMALL ========== */

    .sc__poppy {
        height: 1320px;
        background-color: var.$color-grey;
        margin: 0 auto;
        padding-bottom: 11rem;
        @include mix.blackwhite(var.$color-black, var.$color-grey);
        @include mix.flex_between_column;
        justify-content: space-between;

        .div__bear_description {
            width: var.$width-bear;
            margin: 0 auto;
            margin-top: 180px;

            .p__page {
                @include mix.fontdef('WorkSans', 1.25rem)
            }

            .div__descr-flex {
                @include mix.flex_between_row;
                justify-content: space-between;

                h3 {
                    @include mix.fontdef('Inter', 5.25rem);
                }

                .p__description {
                    @include mix.fontdef('Inter', 1.75rem);
                    width: 620px;

                    span {
                        @include mix.fontdef('WorkSans', 1.125rem);
                        line-height: 2rem;
                    }
                }
            }
        }

        .div__bear_img {
            position: relative;
            width: var.$width-bear;
            margin: 0 auto;
        }

        .img__bear {
            position: absolute;
        }

        #img_big-bear {
            // @include mix.imgXZPos(var.$width-big, var.$height-big, "", "", 0, ""
            // );
            @include mix.imgXZPos(var.$width-big, var.$height-big, "", "", 0, 40%);
            @include mix.transform("", 20%);
        }

        #img_small-bear {
            @include mix.imgXZPos(var.$width-small, var.$height-small, "", "", 0, 10%);
            @include mix.transform(50%, 10%)
        }
    }
}

/* ========== SC Footer ========== */

.footer {
    @include mix.blackwhite(var.$color-white, var.$color-black);
    position: relative;
    padding: 5rem 0 5rem var.$padding-side;

    @include mix.overflow(hidden);

    article {
        width: 520px;
        @include mix.flex_between_column;
        gap: 1rem;
        margin-bottom: 4rem;

        .a__join {
            @include mix.fontdef('WorkSans', .875rem);
            color: var.$color-white;
            text-decoration: none;
        }

        p {
            @include mix.fontdef('Inter', 1.5rem);
            line-height: 2.875rem;
        }

        .a__rsvp {
            @include mix.rsvp;
            &:hover {
                cursor:pointer;
            }
        }
    }

    nav {
        @include mix.flex_between_row;
        align-items: flex-start;
        .div__nav_footer {
            @include mix.flex_between_column;
            justify-content: flex-start;
            gap: .875rem;

            .div__links {
                @include mix.flex_between_row;
                justify-content: flex-start;
                gap: .5rem;

                .img__link {
                    width: 1rem;
                    height: 0.875rem;
                }
            }
        }
        figure {
            padding-right: 10rem;
            .fig__img {
                width: 50px;
            }
        }
    }

    .div__footer-white {
        position: absolute;
        @include mix.fontdef('Inter', 5rem);
        @include mix.blackwhite(var.$color-black, var.$color-white);
        @include mix.imgXZPos(var.$max-width, "", "", 0, 0, "");
        @include mix.stringtransform;

        p {
            width: 100%;
            @include mix.stringanimation;

            span {
                @include mix.blackwhite(var.$color-white, var.$color-white);
                @include mix.textStroke(1px, var.$color-black);
            }
        }
    }
}