/* ========== IMPORTS ========== */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.ttf");
}
@font-face {
  font-family: "WorkSans";
  src: url("../fonts/WorkSans-Regular.ttf");
}
/* ========== GLOBAL STYLES ========== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  max-width: 1920px;
  margin: 0 auto;
}

/* ========== HEADER ========== */
header {
  padding: 0 6.875rem 150px 6.875rem;
  background: #000000;
  color: #ffffff;
  text-align: center;
}
header .div__top {
  height: 150px;
  width: 1px;
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 2rem;
}
header article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
header article h1 {
  font-size: 4rem;
  line-height: 3rem;
}
header article h1 span {
  color: #000000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff;
}
header article p {
  font-family: "WorkSans";
  font-size: 0.625rem;
}
header div {
  padding-top: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header div img {
  height: 42px;
}
header div a {
  text-decoration: none;
  color: #ffffff;
  font-family: "WorkSans";
  font-size: 1.25rem;
  width: min-content;
  padding: 1rem 2.5rem;
  border: 1px solid #ffffff;
}
header div a:hover {
  cursor: pointer;
}

/* ========== MAIN ========== */
main {
  /* ========== Section Action ========== */
  /* ========== Golden Bear ========== */
  /* ========== SC ROUND ========== */
  /* ========== SC BEAR SMALL ========== */
}
main .sc__beginning {
  padding-left: 6.875rem;
  padding-bottom: 100px;
  background-color: #000000;
  color: #ffffff;
}
main .sc__beginning h2 {
  font-family: "Inter";
  font-size: 5.875rem;
  width: 45vw;
}
main .sc__beginning .div__california {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 540px;
  margin-top: 4rem;
}
main .sc__beginning .div__california article .p__1 {
  font-family: "WorkSans";
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}
main .sc__beginning .div__california article .p__2 {
  font-family: "Inter";
  font-size: 5.375rem;
  margin-bottom: 0.5rem;
}
main .sc__beginning .div__california img {
  height: 100%;
}
main .sc__action {
  position: relative;
  height: 1860px;
  max-width: 1920px;
  padding-left: 6.875rem;
}
main .sc__action .article__action {
  height: 100%;
  width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: space-around;
}
main .sc__action .article__action h2 {
  font-family: "Inter";
  font-size: 5.25rem;
}
main .sc__action .article__action p {
  font-family: "WorkSans";
  font-size: 1rem;
  line-height: 1.875rem;
}
main .sc__action .img__action {
  position: absolute;
}
main .sc__action #img1 {
  width: 330px;
  height: 220px;
  top: -82px;
  right: 110px;
  bottom: "";
  left: "";
}
main .sc__action #img2 {
  width: 280px;
  height: 180px;
  top: 280px;
  right: "";
  bottom: "";
  left: 6.875rem;
}
main .sc__action #img3 {
  width: 280px;
  height: 180px;
  top: 666px;
  right: 0px;
  bottom: "";
  left: "";
}
main .sc__action #img4 {
  width: 330px;
  height: 220px;
  top: 876px;
  right: 0px;
  bottom: "";
  left: 220px;
}
main .sc__action #img5 {
  width: 330px;
  height: 220px;
  top: 1080px;
  right: "";
  bottom: "";
  left: 820px;
}
main .sc__action #img6 {
  width: 280px;
  height: 180px;
  top: 1362px;
  right: "";
  bottom: "";
  left: 6.875rem;
}
main .sc__action #img7 {
  width: 440px;
  height: 300px;
  top: "";
  right: center;
  bottom: 0px;
  left: "";
  transform: translateX(200%);
}
main .sc__golden-bear {
  height: 1320px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: space-between;
}
main .sc__golden-bear .div__bear_description {
  width: 1096px;
  margin: 0 auto;
  margin-top: 180px;
}
main .sc__golden-bear .div__bear_description .p__page {
  font-family: "WorkSans";
  font-size: 1.25rem;
}
main .sc__golden-bear .div__bear_description .div__descr-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: space-between;
}
main .sc__golden-bear .div__bear_description .div__descr-flex h3 {
  font-family: "Inter";
  font-size: 5.25rem;
}
main .sc__golden-bear .div__bear_description .div__descr-flex .p__description {
  font-family: "Inter";
  font-size: 1.75rem;
  width: 620px;
}
main .sc__golden-bear .div__bear_description .div__descr-flex .p__description span {
  font-family: "WorkSans";
  font-size: 1.125rem;
  line-height: 2rem;
}
main .sc__golden-bear .div__bear_img {
  position: relative;
  width: 1096px;
  margin: 0 auto;
}
main .sc__golden-bear .img__bear {
  position: absolute;
}
main .sc__golden-bear #img_big-bear {
  width: 731px;
  height: 731px;
  top: "";
  right: "";
  bottom: 0;
  left: "";
  transform: translateX("");
  transform: translateY(20%);
}
main .sc__golden-bear #img_small-bear {
  width: 366px;
  height: 472px;
  top: "";
  right: "";
  bottom: 0;
  left: 60%;
  transform: translateX(50%);
  transform: translateY(10%);
}
main .sc__round-img {
  height: 420px;
  position: relative;
  overflow: hidden;
}
main .sc__round-img img {
  position: absolute;
  width: 420px;
  height: 420px;
  top: -100px;
  right: -137px;
  bottom: "";
  left: "";
  animation: rotate360 3s linear 0s infinite forwards;
}
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
main .sc__poppy {
  height: 1320px;
  background-color: rgb(245, 245, 245);
  margin: 0 auto;
  padding-bottom: 11rem;
  color: #000000;
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: space-between;
}
main .sc__poppy .div__bear_description {
  width: 1096px;
  margin: 0 auto;
  margin-top: 180px;
}
main .sc__poppy .div__bear_description .p__page {
  font-family: "WorkSans";
  font-size: 1.25rem;
}
main .sc__poppy .div__bear_description .div__descr-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: space-between;
}
main .sc__poppy .div__bear_description .div__descr-flex h3 {
  font-family: "Inter";
  font-size: 5.25rem;
}
main .sc__poppy .div__bear_description .div__descr-flex .p__description {
  font-family: "Inter";
  font-size: 1.75rem;
  width: 620px;
}
main .sc__poppy .div__bear_description .div__descr-flex .p__description span {
  font-family: "WorkSans";
  font-size: 1.125rem;
  line-height: 2rem;
}
main .sc__poppy .div__bear_img {
  position: relative;
  width: 1096px;
  margin: 0 auto;
}
main .sc__poppy .img__bear {
  position: absolute;
}
main .sc__poppy #img_big-bear {
  width: 731px;
  height: 731px;
  top: "";
  right: "";
  bottom: 0;
  left: 40%;
  transform: translateX("");
  transform: translateY(20%);
}
main .sc__poppy #img_small-bear {
  width: 366px;
  height: 472px;
  top: "";
  right: "";
  bottom: 0;
  left: 10%;
  transform: translateX(50%);
  transform: translateY(10%);
}

/* ========== SC Footer ========== */
.footer {
  color: #ffffff;
  background-color: #000000;
  position: relative;
  padding: 5rem 0 5rem 6.875rem;
  overflow: hidden;
}
.footer article {
  width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 4rem;
}
.footer article .a__join {
  font-family: "WorkSans";
  font-size: 0.875rem;
  color: #ffffff;
  text-decoration: none;
}
.footer article p {
  font-family: "Inter";
  font-size: 1.5rem;
  line-height: 2.875rem;
}
.footer article .a__rsvp {
  text-decoration: none;
  color: #ffffff;
  font-family: "WorkSans";
  font-size: 1.25rem;
  width: min-content;
  padding: 1rem 2.5rem;
  border: 1px solid #ffffff;
}
.footer article .a__rsvp:hover {
  cursor: pointer;
}
.footer nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.footer nav .div__nav_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: flex-start;
  gap: 0.875rem;
}
.footer nav .div__nav_footer .div__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: flex-start;
  gap: 0.5rem;
}
.footer nav .div__nav_footer .div__links .img__link {
  width: 1rem;
  height: 0.875rem;
}
.footer nav figure {
  padding-right: 10rem;
}
.footer nav figure .fig__img {
  width: 50px;
}
.footer .div__footer-white {
  position: absolute;
  font-family: "Inter";
  font-size: 5rem;
  color: #000000;
  background-color: #ffffff;
  width: 1920px;
  height: "";
  top: "";
  right: 0;
  bottom: 0;
  left: "";
  transform: translateX(50%) rotateZ(45deg);
}
.footer .div__footer-white p {
  width: 100%;
  animation: bildlauf 10s linear 0s infinite forwards;
}
@keyframes bildlauf {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.footer .div__footer-white p span {
  color: #ffffff;
  background-color: #ffffff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}

/*# sourceMappingURL=style.css.map */
